@import "./mixins.scss";
@import "./variables.scss";
:host {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    bp-logo {
        display: block;
        color: $color-primary-logo;
        @include image-text();
        cursor: pointer;
    }
    .opt-out-button {
        font-style: italic;
        margin-top: 24px;
    }
    pad-page {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        background-color: $color-editor;
        transition: .3s all linear;
        &.disabled {
            @include filter(blur(1.7px) opacity(0.6));
            &>pad-header {
                opacity: 0;
            }
            &>pad-body>pad-toolbar {
                opacity: 0;
            }
            &:after {
                content: "";
                position: absolute;
                z-index: 1000;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include background-gradient($color-background);
            }
        }
        pad-header {
            background-color: $color-header;
            flex: 0 0 $header-height;
            box-sizing: border-box;
            border-bottom: 1px solid $color-divider;
            display: flex;
            align-items: center;
            bp-logo {
                display: inline;
                margin-left: 8px;
                font-size: 14pt;
            }
            nav {
                margin-left: auto;
                display: flex;
                align-items: center;
                &>* {
                    margin-left: 16px;
                }
                .mode-button {
                    padding: 0px 12px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    height: $header-height - 1px;
                    border-radius: 0;
                    font-size: 14px;
                    background: #272727;
                    border: None;
                    &:after {
                        margin-left: 4px;
                        content: "\25BE";
                    }
                }
                mode-choices {
                    position: absolute;
                    top: $header-height;
                    right: 0;
                    background-color: $color-overlay;
                    max-height: calc(100% - #{$header-height});
                    // padding: 8px 0px;
                    overflow-y: auto;
                    z-index: 1000;
                    min-width: 140px;
                    mode-choice {
                        display: block;
                        text-align: left;
                        font-size: 14px;
                        padding: 4px 12px 4px 16px;
                        cursor: pointer;
                        &:hover {
                            background-color: $color-primary;
                        }
                        &.has-children:after {
                            content: "\25B8";
                            float: right;
                        }
                        &.is-picked:before {
                            content: "\2713";
                            margin: 0 0 0 -12px;
                            padding: 4px 0px 4px 0px;
                        }
                    }
                }
            }
        }
        panel-heading {
            display: flex;
            align-items: center;
            height: 50px !important;
            padding: 2px 15px;
            background: #272727;
            color: #fff;
        }
        #output {
            display: flex;
            width: calc(50vw - 7px);
            border-radius: 0 !important;
            margin: 0;
            height: calc(100% - 500px);
            overflow: auto;
            background: #202020 !important;
            border: none;
            border-right: 1px solid #272727;
            color: white !important;
            resize: none;
            padding: 6px;
        }
        pad-body {
            flex-grow: 1;
            display: flex;
            flex-flow: row;
            pad-toolbar {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow-y: auto;
                max-width: 200px;
                min-width: 60px;
                flex: 1 1;
                background: #272727 !important;
                z-index: 21;
                pad-status {
                    display: block;
                    padding-left: 6px;
                    padding-bottom: 16px;
                }
            }
            editor {
                display: block;
                flex: 3 3;
                overflow-y: auto;
                position: absolute;
                min-width: 100vw;
            }
        }
    }
    /** overlays */
    welcome-modal,
    audio-modal,
    about-modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        align-items: center;
        modal-body {
            width: 400px;
            display: block;
            margin: auto;
        }
    }
    welcome-modal {
        .reconfigure-prompt {
            &,
            * {
                font-style: italic;
            }
            margin-top: 24px;
        }
    }
    audio-modal {
        .start-button {
            display: inline-block;
            vertical-align: middle;
        }
        audio-monitor {
            display: inline-block;
            height: 12px;
            width: 180px;
            margin-left: 12px;
            vertical-align: middle;
        }
        test-phrases {
            display: block;
        }
    }
    about-modal {
        overflow: auto;
        modal-body {
            width: 600px;
            padding: 0px 12px;
        }
        bp-logo {
            font-size: 48px;
            margin-top: 48px;
        }
        .footer {
            display: block;
            margin: 40px 0;
        }
    }
}

#inoutbox {
    position: fixed;
    width: 100vw;
    height: 210px;
    bottom: 0;
    left: 0;
    z-index: 4;
}

#output,
#test-input {
    width: calc(50vw - 7px);
    border-radius: 0 !important;
    margin: 0;
    height: calc(100% - 50px);
    overflow: auto;
    background: #202020 !important;
    border: none;
    border-right: 2px solid #272727;
    color: white !important;
}

#output,
#test-input {
    resize: none;
    padding: 3px;
    height: 100% !important;
    font-size: 15px;
}

.panel-output,
.panel-input,
{
    width: calc(50vw - 35px);
    border-radius: 1px solid;
    margin: 0;
}

.panel-heading {
    width: calc(50vw - 12px);
    border-color: #272727 important;
}

.panel-heading {
    display: flex;
    align-items: center;
    height: 28px !important;
    padding: 2px 6px;
    background: #272727;
    color: #fff;
}

.panel-output,
.panel-input {
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 100% !important;
    border-color: #202020;
}

.panel-output {
    right: 33px;
}

@media (max-width: 767px) {
    .panel-heading,
    .panel-input,
    .panel-output,
    #output {
        width: calc(100vw - 14px);
    }
    .panel-input,
    .panel-output {
        position: static;
        height: 50% !important;
        border-color: #202020;
    }
}

i.fa:hover {
    cursor: pointer;
}

#copy-input,
#copy-output {
    margin-left: auto;
}

.btn-run {
    background: #e31d3b;
    border-radius: 50px !important;
    color: white !important;
}

.btn-run:hover,
.btn-run:focus,
.btn-run:active {
    box-shadow: none !important;
}

.btn {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 10px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.btn-sm {
    margin: auto 15px;
    height: 30px;
    font-size: 12px;
    line-height: 27px;
    min-width: 0;
}

.hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    cursor: pointer;
    outline: none;
    background: none;
    border: 0;
}

.hamburger span {
    display: block;
    position: absolute;
    top: 20px;
    left: 18px;
    right: 18px;
    height: 3px;
    background: #ffffff;
}

.hamburger span::before,
.hamburger span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    content: "";
}

.hamburger span::before {
    top: -12px;
}

.hamburger span::after {
    bottom: 6px;
}

.btn-group {
    margin: 10px;
}